.white {
    background-color: whitesmoke;
    width: 70px;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    border-color: black;
    margin: 3px;
    padding: 2px;
  }  

.black {
    background-color: black;
    width: 50px;
    height: 100px;
    border-radius: 5px;
    color: whitesmoke;
    margin: 3px;
    padding: 2px;
}

#piano {
    width: min-content;
    height: min-content;
    display: inline-flex;
}

.in-params {
    margin: 20px;
}

input{
    width: min-content;
    margin: 5px;
}

#container {
    display: inline-flex;
    width: min-content;
    height: min-content;
}

#counter {
    font-size: 45px;
    padding: 2px;
    border-color: brown;
    color: brown;
    border: solid 2px;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

#reset {
    color: white;
    background-color: red;
    border-radius: 5px;
    height: min-content;
    width: min-content;
    padding: 10px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}